/* Загальні стилі */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header img {
    max-width: 100px;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin: 20px 0;
}

h2 {
    font-size: 1.5em;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

ul li a:hover {
    color: #007BFF;
}

.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination a {
    text-decoration: none;
    padding: 5px 15px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
}

.pagination a:hover {
    background-color: #0056b3;
}

/* Кнопки для редагування і видалення */
button {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
}

button:hover {
    background-color: #218838;
}

button.delete {
    background-color: #dc3545;
}

button.delete:hover {
    background-color: #c82333;
}
