{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


    <title>Мій блог</title>
</head>
<body>
    <header>
        <h1>Мій блог</h1>
        <nav>
            <a href="{% url 'blog_app:all_posts' %}">Усі пости</a>
            <a href="{% url 'blog_app:create_post' %}">Створити пост</a>
        </nav>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
